@model ImageProcessing.Models.ViewModels.ImageViewModel


@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center" style="position: relative;">
        <h3>Hello, @User.Identity.Name</h3>
    </div>
}
else
{
    <div class="text-center" style="position: relative;">
        <h3>Hello, newbee, login to process images</h3>
    </div>
}


