html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.reg {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1450px;
}

.log {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

