<!DOCTYPE html>
<html lang="en" class="backgroundImage">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImageProcessing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/backImage.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/paragraph.css" />
    <link rel="stylesheet" href="~/css/card.css" />
    <link rel="stylesheet" href="~/css/label.css" />
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: peachpuff; opacity: 0.8">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><span style="color:black; font-family:Impact; font-size:30px; background-color: peachpuff; border-radius:10px;">Image Processing</span>@*<img src="~/Img/LSKIcon.jpg" style="width:30px; height: 30px; border-radius: 10px;">*@</a>
            <button class="navbar-toggler badge-light" style="border-radius:10px;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
                </svg>
            </button>

            @if (!User.Identity.IsAuthenticated)
            {
                <div class="reg">
                    <a style="color:black;position: relative;" asp-controller="Account" asp-action="Login">
                        Log In
                    </a>
                </div>
                <div class="log">
                    <a style="color:black;position: relative;" asp-controller="Account" asp-action="Registration">
                        Log Up
                    </a>
                </div>



            }
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <a style="color:black;font-size: 22px;font-family:'Times New Roman', Times, serif;padding-left: 30px;position: relative;" asp-controller="Image" asp-action="GetImages">
                        Images
                    </a>
                </div>

                 <div>
                    <a style="color:black;font-size: 22px;font-family:'Times New Roman', Times, serif;padding-left: 30px;position: relative;" asp-controller="Image" asp-action="GetProcessingImage">
                        Processing
                    </a>
                </div>

            }
            @if (User.IsInRole("Admin"))
            {
              
            }


            @if (User.Identity.IsAuthenticated)
            {
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="btn btn-danger rounded" style="font-family:'Comic Sans MS'; font-weight: bold; font-size:20px; margin-left: 1300px;position: relative;" type="submit" value="Log Out" />
                </form>
            }
        </nav>
    </header>
    <div class="container-fluid col-xl-12">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("pageScripts", required: false)
</body>
</html>