@using ImageProcessing.Models.Entity;
@model ImageP
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="padding: 10px;"></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://sun6-21.userapi.com/s/v1/ig2/WQo3ZaP0xNQxBPqcpEq_eSkiKblznoWTr3l0PznJ5SDIZZxXHuI7LVwHqNnAeQWohZTDaNCvx7Xqvvr5KHTmuqdv.jpg?size=400x0&quality=96&crop=143,23,433,433&ava=1"
                 class="img-fluid rounded-start rounded" alt="@Model?.Name">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center">@Model?.Name</h5>
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
                <p class="card-text"><b>Разрешение: @Model?.Width x @Model?.Height</p>
               @* <p class="card-text"><b>Тип: </b>@Model?.TypeImage</p>*@
                <p class="card-text"><small class="text-muted">Дата создания - @Model?.DateCreate</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
            </div>
        </div>
    </div>
</div>
