@using ImageProcessing.Models.Entity;
@model IEnumerable<ImageP>

@{
    ViewData["Title"] = "GetImages";
}

<h1>GetImages</h1>

@foreach(var image in Model)
{
    <p>@image.Name</p>
    <p>@image.Description</p>

    <p>@image.DateCreate</p>
}
